* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* NavBar */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 12%;
}

.logo h1 {
  font-size: 50px;
}

.logo img{
  width: 100%;
  height: 140%;
  margin-top: -10%;
  /* margin-bottom: -5%; */
}

.bar i {
  font-size: 35px;
  margin-right: 15%;
  margin-top: 55%;
}

.res{
  display: none;
}

.inner-mobile{
  width: 85%;
  height: 250px;
  position: relative;
  padding-left: 5%;
  float: left;}

  .slide-mobile{
    width: 470px;
    height: auto;
    overflow: hidden;
  }

  .slide-mobile img{
    width: 470px;
    height: 250px;
  }


/* Slide */

.container {
  width: 92%;
  overflow: auto;
  margin-bottom: 0%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.inner{
  width: 85%;
  height: 640px;
  position: relative;
  padding-left: 5%;
  float: left;
}

.slide{
  width: 76.4rem;
  height: auto;
  overflow: hidden;
}

img{
  width: 1300px;
  height: 657px;
}

.slide2{
margin-top: 0%;}

.slide3{
  margin-top: 0%;
}

.boxs {
  display: flex;
  width: 100%;
}

.blue {
  background-color: #244ac2;
  justify-content: center;
  width: 35%;
  padding: 1.7%;
  height: 2rem;
  text-align: center;
  color: white;
  font-size: 22px;
  position: absolute;
  top: 53% ;
}

.black {
  position: absolute;
  background-color: black;
  height: 2rem;
  padding: 1.7%;
  width: 7%;
  right: 0;
  z-index: -1 !important;
  top: 53%;
}

button {
  position: absolute;
  margin-left: 0%;
  right: 10%;
  top: 50%;
  z-index: 100;
  cursor: pointer;
  font-size: 90px;
  float: left;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

button img{
  width: 100px;
  height: auto;
  rotate: 180deg;
}

/* INFO */
.details {
  display: flex;
  justify-content: space-between;
  margin: 2% 10%;
  margin-bottom: 3rem;
}

.details-text {
  width: 60%;
  font-size: 16px;
}

.details-text-mobile {
  display: none;
}

.icons  {
  font-size: 40px;
  color: #244ac2;
  font-weight: 700;
}

.icon p {
  font-size: 50px;
  color: #5CC1F7;
  font-weight: 600;
}

.down {
  rotate: -90deg;
}
.up {
  rotate: 90deg;
  display: flex;
  justify-content: center;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
}

.line{
  margin-top: 3%;
  width: 40px;
  height: 10px;
}

.c{
  width: 75px;
  height: 40px;
}

.v{
  width: 34px;
  height: 41px;
}

.backs{
  margin-top: -5%;
  width: 40px;
  height: 84px;
}

.u{
  margin-top: -5%;
  width: 40px;
  height: 75px;
}

.l{
  
  width: 10px;
  height: 45px;
}

.n{
  margin-top: -3%;
  width: 40px;
  height: 75px;
}

/* .icons img{
  width: 15px;
  height: 75px;
} */

/* Cards */
.cards {
  display: flex;
  justify-content: space-around;
  margin: 0 9.5%;
}

.card {
  background-color: #061c2c;
  padding: 1%;
  width: 30.8%;
}

.text h2 {
  color: white;
}

/* more - last section */
.more {
  display: flex;
  justify-content: space-between;
  margin: 2% 9.6%;
}

.item {
  display: flex;
  width: 13.5% !important;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  background-color: #244ac2;
}

.item p {
  color: white;
  font-size: 10px;
  font-weight: 700;
}

.arrow p {
  font-weight: 700;
  font-size: 20px;
  margin-top: -60%;
  color: #5CC1F7;
}

@media  (max-width: 423px) {

  .inner-mobile{
    width: 330px !important;
  }
  .slide-mobile{
    width: 340px !important;
  }

   .slide-mobile img{
    width: 330px !important;
    height: 250px;
  }

}
@media  (max-width: 464px) {

  .inner-mobile{
    width: 340px ;
  }
  .slide-mobile{
    width: 330px ;
    height: auto;
    overflow: hidden;
  }

   .slide-mobile img{
    width: 340px ;
    height: 250px;
  }

}

@media  (max-width: 465px) {

  .inner-mobile{
    width: 370px ;
  }
  .slide-mobile{
    width: 370px ;
    height: auto;
    overflow: hidden;
  }

   .slide-mobile img{
    width: 370px;
    height: 250px;
  }

}

@media  (max-width: 534px) {

  .inner-mobile{
    width: 400px;
  }
  .slide-mobile{
    width: 400px;
    height: auto;
    overflow: hidden;
  }

   .slide-mobile img{
    /* width: 400px; */
    height: 250px;
  }

}

@media (max-width: 599px) {

  .logo h1{
    font-size: 30px;
  }

  .bar{
    margin-right: 8%;
    margin-top: 2%;
  }

  .res{
    display: block;
  }

  .main{
    display: none;
  }

  .container{
    width: 97%;
  }
  
  .blue {
    top: 28%;
    width: 40%;
    height: 1.8rem;
    font-size: 14px;
  }

  .black {
    height: 2rem;
    width: 10%;
    right: 5%;
    top: 27.5%;
  }

  .button-mobile {
    top: 61%;
    right: 10%;
    margin-left: 0%;
    transform: translateY(-220%);
  }

  .button-mobile img{
    width: 70px;
  }

  .details{
    flex-direction: column;
  }

  .details-text{
    width: 95%;
  }

  .icons{
    width: 90%;
  }

  .more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2% 9%;
    gap: 3%;
  }

  .item {
    width: 80% !important;
  }

  .item p {
    font-size: 10px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 10% 9%;
    gap: 2%;
  }

  .card {
    width: 90%;
    padding-left: 7%;
    padding-bottom: 6%;
  }

  .text h2 {
    font-size: 16px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {

  .container{
    width: 100%;
  }

  .inner{
    width: 95%;
    height: 557px;
    float: none;
    padding-left: 0;
    overflow: hidden;
  }

  .slide{
    width: 100%;
    height: auto;
  }

  img{
    width: 100%;
    height: 557px;
  }

  .details{
    flex-direction: column;
  }

  .details-text{
    width: 95%;
  }

  .icons{
    width: 90%;
  }

  .more {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2% 8%;
    gap: 4%;
  }

  .item {
    width: 83% !important;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5% 8%;
    gap: 1%;
  }

  .card {
    width: 90%;
    padding-left: 7%;
    padding-bottom: 6%;
  }

  .text h2 {
    font-size: 20px;
  }
}

@media (min-width: 1005px) {
  .more {
    display: flex;
    justify-content: space-between;
    margin: 2% 9.6%;
  }
  
  .item {
    display: flex;
    width: 12.5% !important;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    background-color: #244ac2;
  }
}
